* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
#sidebar{
	position: fixed;
	width: 200px;
	height: 100%;
	border-right: 1px solid white;
}
#content{
	width: calc(100% - 200px);
	height: 100%;
	background-color: red;
}
img{
	margin: 0px auto;
    display: block;
}
#sidebar {
	background-color: #343a40;
}
li {
	list-style: none;
	display: block;
}
a{
	display: block;
	color: white;
	text-decoration: none;
}
ul#menu li{
	position: relative;
}
ul#menu > li{
	margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px
}
ul#menu li  ul{
	display: none;
}
ul#menu li:hover{
	background-color: #737373;
}
ul#menu li:hover >ul{
	display: block;
}
ul#menu > li ul{
	position: absolute;
	left: 100%;
	top: 0px;
	width: 200px;
	background-color: #343a40;
}
